@use 'sass:map';
@use '../_index' as ui;

:root{
    --brand: var(--color-brand-500);
    --brand-600: var(--color-brand-600);
    --brand-100: var(--color-brand-100);
    --fg: #{ui.$fg};
    --fg-muted: #{ui.$fg-muted};
    --bg: #{ui.$bg};
    --surface: #{ui.$surface};
    --border: #{ui.$border};
}